In [19]:
from selenium import webdriver
import pandas as pd

In [20]:
driver = webdriver.Chrome(executable_path='C:\selenium_driver\chromedriver')
driver.get('https://pokemondb.net/pokedex/all')
driver.maximize_window()
#privacy control
button = driver.find_element_by_xpath('//*[@id="gdpr-confirm"]/div/div/p[2]/button')
try:
    button.click()
except:
    pass

In [21]:
#name
name = driver.find_elements_by_xpath('//a[@class="ent-name"]')
#type
typ_e = driver.find_elements_by_xpath('//*[@id="pokedex"]/tbody/tr/td[3]')
#total
total = driver.find_elements_by_xpath('//*[@id="pokedex"]/tbody/tr/td[4]')
#hp
hp = driver.find_elements_by_xpath('//*[@id="pokedex"]/tbody/tr/td[5]')
#attack
attack = driver.find_elements_by_xpath('//*[@id="pokedex"]/tbody/tr/td[6]')
#def
defense = driver.find_elements_by_xpath('//*[@id="pokedex"]/tbody/tr/td[7]')
#sp.attack
sp_attack = driver.find_elements_by_xpath('//*[@id="pokedex"]/tbody/tr/td[8]')
#sp.defense
sp_deff = driver.find_elements_by_xpath('//*[@id="pokedex"]/tbody/tr/td[9]')
#speed
speed = driver.find_elements_by_xpath('//*[@id="pokedex"]/tbody/tr/td[10]')

In [22]:
pokemon_results = []

In [25]:
for i in range(len(name)):
    pokemon_dictionary = {'Name':name[i].text,
                         'Type':typ_e[i].text,
                         'Total':total[i].text,
                         'HP':hp[i].text,
                         'Attack':attack[i].text,
                         'Defense':defense[i].text,
                         'SP.Attack':sp_attack[i].text,
                         'SP.Defense':sp_deff[i].text,
                         'Speed':speed[i].text}
    pokemon_results.append(pokemon_dictionary)

In [27]:
dataframe_pokemon = pd.DataFrame(pokemon_results)

In [28]:
dataframe_pokemon.head(20)

,Name,Type,Total,HP,Attack,Defense,SP.Attack,SP.Defense,Speed
0,Bulbasaur,GRASS\nPOISON,318,45,49,49,65,65,45
1,Ivysaur,GRASS\nPOISON,405,60,62,63,80,80,60
2,Venusaur,GRASS\nPOISON,525,80,82,83,100,100,80
3,Venusaur,GRASS\nPOISON,625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65
5,Charmeleon,FIRE,405,58,64,58,80,65,80
6,Charizard,FIRE\nFLYING,534,78,84,78,109,85,100
7,Charizard,FIRE\nDRAGON,634,78,130,111,130,85,100
8,Charizard,FIRE\nFLYING,634,78,104,78,159,115,100
9,Squirtle,WATER,314,44,48,65,50,64,43
10,Wartortle,WATER,405,59,63,80,65,80,58
11,Blastoise,WATER,530,79,83,100,85,105,78
12,Blastoise,WATER,630,79,103,120,135,115,78
13,Caterpie,BUG,195,45,30,35,20,20,45
14,Metapod,BUG,205,50,20,55,25,25,30
15,Butterfree,BUG\nFLYING,395,60,45,50,90,80,70
16,Weedle,BUG\nPOISON,195,40,35,30,20,20,50
17,Kakuna,BUG\nPOISON,205,45,25,50,25,25,35
18,Beedrill,BUG\nPOISON,395,65,90,40,45,80,75
19,Beedrill,BUG\nPOISON,495,65,150,40,15,80,145

In [29]:
#CLEANING DATA REPLACE /n
dataframe_pokemon['Type'] = dataframe_pokemon['Type'].apply(lambda x: x.replace ('\n',','))

In [36]:
#updated dataframe
dataframe_pokemon

,Name,Type,Total,HP,Attack,Defense,SP.Attack,SP.Defense,Speed
0,Bulbasaur,"GRASS,POISON",318,45,49,49,65,65,45
1,Ivysaur,"GRASS,POISON",405,60,62,63,80,80,60
2,Venusaur,"GRASS,POISON",525,80,82,83,100,100,80
3,Venusaur,"GRASS,POISON",625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...
1040,Glastrier,ICE,580,100,145,130,65,110,30
1041,Spectrier,GHOST,580,100,65,60,145,80,130
1042,Calyrex,"PSYCHIC,GRASS",500,100,80,80,80,80,80
1043,Calyrex,"PSYCHIC,ICE",680,100,165,150,85,130,50
1044,Calyrex,"PSYCHIC,GHOST",680,100,85,80,165,100,150

In [39]:
dataframe_pokemon.to_excel('pokemon_database_clean.xlsx',index = False )